BE/node_modules
BE/.env
.DS_Store
FE/node_modules
FE/.env
BE/combined.log
/BE/public/uploads/orders/
/BE/public/uploads/products/
/BE/public/uploads/shipping/
/BE/public/uploads/tmp/
/BE/public/uploads/users/
/BE/combined.log
.idea
/_DB/
/BE/public/uploads/archives/
/FE/DELETE
./settings
.project
/.settings/
BE/error.log
BE/_stepByStepMigration
/_DELETETE_SERVER/SidebarHeaderOld.tsx
/_DELETETE_SERVER/SidebarLayoutOld.tsx
/_DELETETE_SERVER/
/BE/public/uploads/
/_DB.zip
/_DB 2.zip
