.faq-block {
  @apply mt-[50px] md:mt-[100px] md:px-[40px];
}
.faq-bg {
  position: relative;

  &:after {
    content: "";
    background: url(../../public/images/faq/fag-bg.svg);
    background-repeat: no-repeat;
    position: absolute;
    //width: 295px;
    //height: 295px;
    top:0;
    right: 0;

    @apply md:w-[295px] md:h-[295px]
  }

  //background: url(../../public/images/faq/fag-bg.svg);
  //background-repeat: no-repeat;
  //background-position: top right;

}

.faq-question-answer {
  border-color: #E2E4E9;
  @apply w-full border-b pt-[32px] pb-[28px] inline-block relative;

  .question {
    @apply w-full text-gray-350 text-[16px] md:text-[18px] font-bold block mb-2 pr-[25px];
  }

  .answer {
    @apply text-blue-350 text-[14px] md:text-[16px] leading-[24px];
  }

  .toggle-icon {
    background: url(../../public/images/faq/plus.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 32px;
    cursor:pointer;

    @apply w-[20px] h-[20px];
  }

  .toggle-close {
    background: url(../../public/images/faq/minus.svg);
  }
}

.faq-content {
  @apply md:mr-[300px] lg:mr-auto;
}