.feature-photo {
  background-image: url(../../public/images/features/hand.svg);
  background-repeat: no-repeat;
  background-size: contain;

  @apply mt-10 w-[559px] h-[701px] float-left lg:mt-0 lg:ml-[100px];
}

.feature-phone-photo {
  background-image: url(../../public/images/features/phone.svg);
  background-repeat: no-repeat;
  background-size: contain;

  @apply mt-10 w-[427px] h-[861px] lg:mt-[-20px] float-left lg:ml-[100px];
}

.feature-comp {
  background-image: url(../../public/images/features/comp.svg);
  background-repeat: no-repeat;
  background-size: contain;

  @apply sm:mt-10 w-[518px] h-[495px] float-left lg:pr-[520px];
}