.feature-photo {
  background-image: url(../../public/images/features/hand.svg);
  background-repeat: no-repeat;
  background-size: contain;

  @apply sm:bg-none hidden w-[559px] h-[701px];
}

.feature-phone-photo {
  background-image: url(../../public/images/features/hand-phone.png);
  background-repeat: no-repeat;
  background-size: contain;

  @apply  md:inline-block w-[325px] md:h-[495px] xl:w-[459px] xl:h-[500px] 2xl:w-[559px] 2xl:h-[701px] md:float-right;
}

.dotted-bg {
  @media screen and (max-width: 640px) {
    background-image: none;
  }
}

.feature-comp {
  background-image: url(../../public/images/features/comp.svg);
  background-repeat: no-repeat;
  background-size: cover;

  @apply w-full h-[290px] sm:mt-10
    md:w-[318px] lg:w-[495px]
    md:h-[295px] lg:h-[495px]
    float-left lg:pr-[520px] lg:mt-[-90px];
}

.feature-screen-photo {
  background-image: url(../../public/images/features/mobile-screen.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;

  @apply h-[784px] lg:float-right md:order-2;
}

.feature-left {
  @apply md:max-w-[430px] lg:max-w-[600px] xl:max-w-[680px];
}
.feature-right {
  //border: solid 1px red;
  //width: 280px;
  @apply md:border-gray-350 md:max-w-[280px] lg:max-w-[560px];
}


.feature-comp-new {
  background-image: url(../../public/images/features/comp.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;

  @apply min-h-[300px] lg:min-h-[495px] md:mt-[-50px] lg:mt-[-80px];
}

.feature-screen-photo-new {
  background-image: url(../../public/images/features/mobile-screen.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;

  @apply h-[384px] lg:h-[784px] lg:float-right md:order-2 w-full;
}

.try-features {
  @apply mt-[-70px] lg:mt-[-120px];
}
