.guide-left {
  @apply mb-[40px] w-full lg:w-[25%] ;
  //background: #D1D1D1;

  .guide-menu {
    background: #FFFFFF;
    //height: 265px;
    //width: 270px;
    text-align: center;
    padding: 24px;

    box-shadow: 0 5px 10px rgba(189, 201, 206, 0.5), inset 0px -4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    @apply w-full mb-5 lg:w-[270px];
  }
}
.guide-right {
  //background: aqua;
  @apply w-full px-[20px] md:px-0 lg:w-[75%];
}

.guide-menu ul {
  @apply p-0 m-0;
}

.text-link {
  background: #EEF1F7;
  border-radius: 0 8px 8px 0;
  //font-size: 16px;
  //line-height: 24px;
  text-align: left;
  //padding-left: 12px;
  font-weight: bold;
  padding: 8px 14px;
  position: relative;
  min-height: 38px;
  display: block;

  @apply text-[14px] md:text-[16px] leading-[24px] text-gray-350;
}

.text-link-active {
  background: #EEF1F7;
  border-radius: 0 8px 8px 0;
  //font-size: 16px;
  //line-height: 24px;
  text-align: left;
  //padding-left: 12px;
  font-weight: bold;
  padding: 8px 14px;
  position: relative;
  min-height: 38px;
  display: block;

  @apply text-[14px] md:text-[16px] leading-[24px] text-gray-350;

  &:before {
    content: "";
    width: 4px;
    min-height: 38px;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    background: linear-gradient(45.86deg, #354D9E 4.03%, #AB44C1 21.02%, #E96597 37.63%, #FF9384 55.1%, #FFC16C 71.23%, #F9F871 90%, #F9F871 90.01%);

  }
}

.submenu {
  padding-top: 15px;
  //border: solid 1px;
  margin-bottom: 15px;
  display: block;
  margin-top: 10px !important;
  margin-left: 15px !important;
  text-align: left;
  //font-size: 16px;
  font-weight: bold;
  color: #8C94A6;

  @apply text-[14px] md:text-[16px];

  li {
    margin-top: 10px;
  }
}

.rounded-gray-block {
  background: #EEF1F7;
  border-radius: 8px;
  padding: 16px;
  margin-top:20px;

  .dark-blue-header {
    @apply text-[18px];
  }
}

.text-remarque {
  line-height: 24px;
  font-weight: 500;
  @apply text-[16px];
}

.guide-table td{
  padding: 20px 10px;
}

.hide-submenu {
  display: none !important;
}

.img-shadow {
  @apply inline-block;
  //-webkit-box-shadow: 0px 23px 53px -3px rgb(234, 233, 234) !important;
  //-moz-box-shadow: 0px 23px 53px -3px rgba(234, 233, 234,0.5) !important;;
  //box-shadow: 0px 23px 53px -3px rgba(234, 233, 234,0.5) !important;;
  //border: solid 1px !important;
  //
  //&:before {
  //  @apply shadow-2xl;
  //}
  //&:after {
  //  @apply shadow-2xl;
  //}

}
.smile-text {
  display: inline-block;
  position: relative;
  //padding-left: 20px;
  //background-image: url('../../public/images/guides/smile.svg');
  //background-repeat: no-repeat;
  //background-position: top right;

  &:after {
    content: "";
    background: url(../../public/images/guides/smile.svg );
    width: 40px;
    height: 35px;
    position: absolute;
    right: 0;
    top:0;
  }
}

